/* import your fonts if you have some in the src/fonts folder */
@import "modules/fonts.css";

/* theming of the book  */
@import 'modules/reset.css';

/* @import "modules/figures.css"; */
@import "modules/body.css";

/* css for the layouts */
@import "modules/layout.css";

/* paged js interface and screen view css */
@import "interface.css";
@import "translation.css";
@import "overlay.css";